註冊
<div class="w-52">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="form-control ">
  <%= f.label :email, t('member.email'), class: "label-text text-lg" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-52 text-sm px-2 py-3 " %>
</div>

<div class="form-control">
  <div>
    <%= f.label :password, t('member.password'), class: "label-text text-lg" %>
    <% if @minimum_password_length %>
    <span class="text-sm">( <%= t('member.password min length', min_length:
      @minimum_password_length) %> )</span>
    <% end %>
  </div>
  <%= f.password_field :password, autocomplete: "new-password", class: "input
  input-bordered w-52 text-sm px-2 py-3" %>
</div>

<div class="form-control">
  <%= f.label :password_confirmation, t('member.password confirmation'), class: "label-text text-lg" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-52 text-sm px-2 py-3 " %>
</div>
<div class="actions">
    <%= f.submit t('member.sign up'), class: "btn btn-outline btn-success w-52" %>
  </div>
<% end %>
  <%= render 'devise/shared/links' %>
</div>





