<h2>Edit <%= resource_name.to_s.humanize %><div class="badge badge-accent"><%= @user.email %></div></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  
<% if resource.errors.any? %>
  <p><%= t('member.errors_check_again') %></p>
<% end %>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <%= resource.unconfirmed_email %>
  <% end %>

  <div class="form-control">
    <div>
      <%= f.label :password, t('member.password'), class: "label-text text-lg" %>
      <% if @minimum_password_length %>
        <span class="text-sm">( <%= t('member.password min length', min_length: @minimum_password_length) %> )</span>
      <% end %>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-52 text-sm px-2 py-3" %>
  </div>

  <div class="form-control">
    <%= f.label :password_confirmation, t('member.password confirmation'), class: "label-text text-lg" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-52 text-sm px-2 py-3 " %>
  </div>

  <div class="form-control">
    <%= f.label :current_password, t('member.current password'), class: "label-text text-lg" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered w-52 text-sm px-2 py-3" %>
  </div>

  <div class="actions">
    <%= f.submit t('member.update'), class: "btn btn-outline btn-success w-52" %>
  </div>
<% end %>
<%= link_to t('member.back'), :back, class: "btn btn-outline btn-success w-52" %>
