<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="form-control ">
  <%= f.label :email, t('member.Email'), class: "label-text text-lg" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-52 text-sm px-2 py-3 " %>
</div>

<div class="form-control">
  <div>
    <%= f.label :password, t('member.Password'), class: "label-text text-lg" %>
    <% if @minimum_password_length %>
    <span class="text-sm">( <%= t('member.Password Min Length', min_length:
      @minimum_password_length) %> )</span>
    <% end %>
  </div>
  <%= f.password_field :password, autocomplete: "new-password", class: "input
  input-bordered w-52 text-sm px-2 py-3" %>
</div>

  <div class="field">
    <%= f.label :role, t('member.role') %><br />
    <%= f.select :role, options_for_select([[t('member.general'), 'general'], [t('member.vendor'), 'vendor']]) %>
  </div>

<div class="form-control">
  <div>
    <%= f.label :password, t('member.password'), class: "label-text text-lg" %>
    <% if @minimum_password_length %>
    <span class="text-sm">( <%= t('member.password min length', min_length:
      @minimum_password_length) %> )</span>
    <% end %>
  </div>
  <%= f.password_field :password, autocomplete: "new-password", class: "input
  input-bordered w-52 text-sm px-2 py-3" %>
</div>

          
            
  <div class="form-control">
    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input type="password" placeholder="password" class="input input-bordered" required />
    <label class="label">
      <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
    </label>
  </div>


  <div class="form-control  w-52 m-auto mb-4   ">
    <%= f.label :password, t('member.password'), class: "label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
  </div>




  <div class="form-control mt-6">
    <button class="btn btn-primary">Login</button>
  </div>
  
<% end %>



