<div class="card w-full bg-white-100 shadow-xl">
  <div class="card-body gap-4">
    <div class="card-title"><%= t('order.booking') %></div>
    <%= form_with url: booking_path, data: { turbo: false } do |f| %>
      <%= f.hidden_field :shop_id, value: shop.id %>
      <%= f.select :product_id, 
                  shop_product_options(shop),
                  { include_blank: t("views.shop.show.Select Product") }, 
                  class: "select select-lg select-bordered w-full" %>
      <%= f.text_field :service_date,
                      data: {
                        controller: 'datepicker',
                        serviceTimes: filter_service_times(service_times)
                      },
                      class: 'input input-bordered w-full mt-4' %>
      <%= f.submit t("form.Next"), class: 'mt-4 w-full bg-gray-400 hover:bg-gray-300 text-black font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    <% end %>
  </div>
</div>