<% if shop.errors.any? %>
  <section>
    <ul>
    <% shop.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </section>
<% end %>
<section>
  <div>
    <%= form_with model: shop, data: { turbo: false } do |f| %>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'border-2 border-black'%>
      </div>
      <div>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'border-2 border-black'%>
      </div>
      <div>
        <%= f.label :tel %>
        <%= f.text_field :tel, class: 'border-2 border-black'%>
      </div>
      <div>
        <%= f.label :city %>
        <%= f.select(:city, options_for_select(county_options)) %>
      </div>
      <div>
        <%= f.label :district %>
        <%= f.text_field :district, class: 'border-2 border-black'%>
      </div>
      <div>
        <%= f.label :street %>
        <%= f.text_area :street, class: 'border-2 border-black'%>
      </div>
      <div>
        <%= f.label :contact %>
        <%= f.text_field :contact, class: 'border-2 border-black'%>
      </div>
      <div>
        <%= f.label :contactphone %>
        <%= f.text_field :contactphone, class: 'border-2 border-black'%>
      </div>
      <div>
        <%= f.label :cover, class: 'label' %>
        <%= f.file_field :cover, class: 'file-input file-input-bordered' %>
      </div>
      
      <div><%= f.submit %></div>
    <% end %>
  </div>
</section>
