  <div class="container m-auto">
    <p class="text-2xl font-semibold text-primary text-center m-7"><%= t('navbar.shops') %></p>
      <div class="mb-3 text-center">
        <%= search_form_for @q do |f| %>
        <div class="p-2">
              <span class="badge badge-lg badge-primary text-lg"><%= t('product.default_order') %></span>
              <span class="text-lg p-1"><%= t('product.order_updated_by') %></span>
        </div>
          <div class="btn btn-outline btn-primary hover:bg-accent text-lg">
        <%= f.sort_link :city, t('views.shop.index.sort_by_city'), default_order: 'desc' %>
      </div>
          <div class="btn btn-outline btn-primary hover:bg-accent text-lg">
        <%= f.sort_link :updated_at, t('views.shop.index.sort_by_updated'), default_order: 'desc' %>
      </div>
      <div data-controller="location" class="btn btn-outline btn-primary hover:bg-accent text-lg">
        <%= link_to t('views.shop.index.near'), shops_path, data: { location_target: 'link', action: 'location#nearby_shop'} %>
      </div>
    <% end %>
  </div>

    <% if @latitude.present? && @longitude.present? %>
    <div>
      <h3 class="text-2xl text-gray-700"><%= t('views.shop.index.near') %></h3>
      <hr class="border-2 my-4">
      <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">
        <% @nearby_shops.each do |nearby_shop| %>
          <div class="card w-96 h-80 shadow-xl bg-slate-50">
            <%= link_to shop_path(nearby_shop) do %>
              <figure class="h-44 w-90 rounded-t-xl">
                <%= shop_cover(nearby_shop, :thumb) %>
              </figure>
            <% end %>
            <div class="card-body">
              <h2 class="card-title">
                <%= link_to nearby_shop.title, shop_path(nearby_shop), class: 'hover:text-primary' %>
                <div class="badge badge-neutral"><%= nearby_shop.city %></div>
              </h2>
              <div class="rating mt-2">
                <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 px-5" />
                <%= link_to shop_path(nearby_shop) do %>
                  <%= nearby_shop.average_rating %>
                  <span>(<%= nearby_shop.comments.count %>)</span>
                <% end %>
              </div>
              <div class="card-actions justify-end mt-[-40px]">
                <% if user_signed_in? %>
                  <%= render 'like_shops', shop: nearby_shop %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <h3 class="text-2xl text-gray-700 mt-10"><%= t('views.shop.index.featured') %></h3>
    <hr class="border-2 my-4 ">
    <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-4">
    <%= render @shops %>
  </div>

  <footer class="m-10">
    <%= paginate @shops %>
  </section>

</div>
