<div class="container m-auto">
  <p class="text-2xl font-semibold text-primary text-center my-3 ml-6 md:text-start mx-2"><%= t('navbar.shops') %></p>
  <div class="mb-3 text-center py-2">
    <%= search_form_for @q do |f| %>
      <div class="pb-4">
        <span class="badge badge-lg badge-primary text-lg"><%= t('product.default_order') %></span>
        <span class="text-lg p-1"><%= t('product.order_updated_by') %></span>
      </div>
      <div class="flex justify-center space-x-2 mx-4">
        <div class="btn btn-outline btn-primary hover:bg-accent text-lg whitespace-nowrap">
          <%= f.sort_link :city, t('views.shop.index.sort_by_city'), default_order: 'desc' %>
        </div>
        <div class="btn btn-outline btn-primary hover:bg-accent text-lg whitespace-nowrap">
          <%= f.sort_link :updated_at, t('views.shop.index.sort_by_updated'), default_order: 'desc' %>
        </div>
        <div data-controller="location" class="btn btn-outline btn-primary hover:bg-accent text-lg whitespace-nowrap">
          <%= link_to t('views.shop.index.near'), shops_path, data: { location_target: 'link', action: 'location#nearby_shop'} %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @latitude.present? && @longitude.present? %>
    <div>
      <h3 class="text-2xl text-gray-700 my-3 ml-6"><%= t('views.shop.index.near') %></h3>
      <hr class="border-2 my-4">
      <div class="grid grid-cols-1 gap-y-5 md:grid-cols-2 lg:grid-cols-4">
        <% @nearby_shops.each do |nearby_shop| %>
          <%# 附近店家卡片 %>
          <div class="card w-[330px] h-80 m-auto lg:w-72 shadow-xl bg-slate-50 mb-8">
            <%= link_to shop_path(nearby_shop) do %>
              <% if booking_shop.cover.attached? %>
                <figure class="h-44 w-[330px] md:w-72 rounded-t-xl relative">
                  <%= shop_cover(nearby_shop, :thumb) %>
                </figure>
              <% else %>
                <figure class="h-44 w-[330px] md:w-72 rounded-t-xl relative">
                  <%= image_tag 'app/assets/images/shops/default_cover.png'%>
                </figure>
              <% end %>  
              <div class="favorite-icon absolute top-2 right-2">
                <% if user_signed_in? %>
                  <%= render 'like_shops', shop: nearby_shop do %>
                    <%= image_tag('heart_icon.png', alt: 'Favorite') %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <div class="card-body">
              <h2 class="card-title">
                <%= link_to nearby_shop.title, shop_path(nearby_shop), class: 'hover:text-primary' %>
              </h2>
              <div class="rating mt-2 flex items-center justify-between">
                <div class="badge badge-neutral mr-4"><%= nearby_shop.city %></div>
                <div class="flex items-center">
                  <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 px-5" />
                  <%= link_to shop_path(nearby_shop) do %>
                    <%= nearby_shop.average_rating %>
                    <span>(<%= nearby_shop.comments.count %>)</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="badge badge-lg badge-ghost text-xl font-bold text-gray-400">
      <p><%= t('message.nearby_no_shop') %></p>
    </div>
  <% end %>

  <div>
    <h3 class="text-2xl text-gray-700 mt-3 ml-6"><%= t('views.shop.index.featured') %></h3>
    <hr class="border-2 my-4 ">
    <div class="grid grid-cols-1 gap-y-5 md:grid-cols-2 lg:grid-cols-4">
      <%= render @shops %>
    </div>
  </div>

  <footer class="m-10">
    <%= paginate @shops %>
  </footer>
</div>