<h1><%= t('views.shop.index.title') %></h1>
<%= link_to t('views.shop.index.create_shop'), new_shop_path, class: 'border-2 border-black'%>
<%= render 'form_select_shop_status', shop: @shop %>

<ul class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-4">
<%= search_form_for @q do |f| %>
<div class="btn">
      <%= f.sort_link :city, t('views.shop.index.sort_by_city'), default_order: 'desc' %>
</div>

<div class="btn">
      <%= f.sort_link :updated_at, t('views.shop.index.sort_by_updated_at'), default_order: 'desc' %>
</div>
<% end %>
</div>
  <%= render @shops %>
</ul>
<div class="flex justify-center my-4">
  <%= paginate @shops %>
</div>