<p><%= t('views.shop.index.title') %><p>


  <% if user_signed_in? %>
    <% if current_user&.shop.nil? %>
      <%= link_to t('views.shop.index.create shop'), new_shop_path, class: 'border-2 border-black'%>
    <% else %>
      <%= render 'form_select_shop_status', shop: @shop %>
    <% end %>
  <% end %>

<div class="grid grid-cols-1 gap-3">
  <%= search_form_for @q do |f| %>
    <div class="btn">
      <%= f.sort_link :city, t('views.shop.index.sort by city'), default_order: 'desc' %>
    </div>

    <div class="btn">
      <%= f.sort_link :updated_at, t('views.shop.index.sort by updated at'), default_order: 'desc' %>
    </div>
  <% end %>
</div>

<ul class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-4">
  <%= render @shops %>
</ul>
<footer>
  <%= paginate @shops %>
</footer>