<section class="container mx-auto p-4">
  <% if @shop.cover.attached? %>
    <%= image_tag @shop.cover, class: "w-full h-auto" %>
  <% else %>
    <img src="https://fakeimg.pl/1000x300/200" class="w-full h-auto">
  <% end %>

  <article class="mt-4">
    <h1 class="text-xl font-bold"><%= t('form.shop.ttitle') %>：<%= @shop.title %></h1>
    <p>店主：<%= @shop.user.email %></p>
    <span class="text-gray-500">(店家評價：未連)</span>
  </article>

  <section class="mt-4">
    <h2 class="text-lg font-semibold">商店資訊</h2>
    <p>地址：<%= address(@shop) %></p>
    <span class="text-gray-500">(營業時間：未連)</span>
    <p><%= t('form.shop.tel') %>：<span class="font-semibold"><%= @shop.tel %></span></p>
    <p><%= t('form.shop.description') %>：<%= @shop.description %></p>
    <span class="text-gray-500">(服務項目:未連)</span>
  </section>

  <iframe
  width="450"
  height="450"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_API_KEY']%>&q=<%= ERB::Util.url_encode(address(@shop))%>"
  allowfullscreen>
  </iframe>

  <% if user_signed_in? %>
    <%= render 'like_shops', shop: @shop %>
    <% if @shop.owned_by?(current_user) %>
    <div class="mt-4">
      <%= link_to "店家資訊變更", edit_shop_path(@shop), class: "btn btn-primary mr-2" %>
      <%= render 'form_select_shop_status' %>
    </div>
    <% end %>
  <% end %>
</section>