<section class="container mx-auto p-5">
  <div class="text-sm breadcrumbs">
    <ul>
      <li><%= link_to t('home'), root_path %></li>
      <li><%= @shop.title %></li>
    </ul>
  </div>
  <div class="h-[300px] relative">
    <article class="mt-4 z-10 absolute top-64 left-10 text-white">
      <h1 class="text-xl font-bold"><%= @shop.title %></h1>
    </article>
    <div class="absolute h-[300px] overflow-hidden place-items-center">
        <%= image_tag @shop.cover, class: "w-full -translate-y-1/4 brightness-50" %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <ul class="card-body mx-10">
        <li class="text-lg font-medium mb-3">
          <div class="aspect-w-16 aspect-h-9 w-full max-w-full mb-4">
            <%= render 'shared/google_map', shop: @shop %>
          </div>
        </li>
        <div class="p-2">
          <div class="mb-8">
            <%= render 'shared/shop_info', shop: @shop %>
          </div>
          <div class="flex">
            <%=render 'shared/business_hours' %>
            <div class="w-1/4 ml-auto mt-2">
              <% if user_signed_in? %>
                <%= render 'like_shops', shop: @shop %>
              <% end %>
            </div>
          </div>
          <hr class="my-6">
        </div>
      </ul>
    </div>
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <div class="card-body" data-controller="carousel">
        <div class="carousel mx-12 relative">
          <% @shop.products.each do |product| %>
            <div class="carousel-item " data-carousel-target="slide">
              <%= image_tag product.cover.variant(:cover) %>
            </div>
          <% end %>
          <div class="absolute flex justify-between left-2 right-2 top-1/2">
            <button class="btn glass opacity-80" data-action="carousel#previous">❮</button>
            <button class="btn glass opacity-80" data-action="carousel#next">❯</button>
          </div>
        </div>
        <div class="mx-12">
          <%= render 'booking', { shop: @shop, service_times: @shop.service_times } %>
        </div>
      </div>
    </div >
  </div>
</section>


<div class="comment-container">
  <%= render partial: 'comments/form', locals: { order: @order, shop: @shop } if @order %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', shop: @shop, comment: comment %>
  <% end %>
</div>
