<div class="text-sm breadcrumbs">
  <ul>
    <li><%= link_to t('home'), root_path %></li>
    <li><%= @shop.title %></li>
  </ul>
</div>

<section class="container mx-auto p-5">
  <div class="h-[300px] relative">
    <article class="mt-4 z-10 absolute top-64 left-10 text-white">
      <h1 class="text-xl font-bold"><%= @shop.title %></h1>
    </article>
    <div class="absolute h-[300px] overflow-hidden place-items-center">
      <% if @shop.cover.attached? %>
        <%= image_tag @shop.cover, class: "w-full -translate-y-1/4 brightness-50" %>
      <% else %>
        <img src="https://fakeimg.pl/1000x300/200" class="w-full">
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <ul class="card-body mx-10">
        <li class="text-lg font-medium mb-3">
          <div class="aspect-w-16 aspect-h-9 w-full max-w-full mb-4">
            <%= render 'shared/google_map' %>
          </div>
        </li>
        <div class="p-2">
          <div class="mb-8">
            <%= render 'shared/shop_info', resource: @shop %>
          </div>
          <div class="mx-auto">
            <div class="text-sm ">
              <%= render partial: 'shops/service_times', collection: @shop.service_times, as: :service_time%>
              <% if user_signed_in? %>
                <%= render 'like_shops', shop: @shop %>
              <% end %>
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <div class="card-body mb-8">
        <div class="carousel w-full">
        <% @shop.products.each_with_index do |product, index| %>
          <div id="slide<%= index + 1 %>" class="carousel-item relative w-full">
            <%= image_tag product.cover.variant(:thumb), class: 'w-full' %>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide<%= index == 0 ? @shop.products.count : index %>" class="btn btn-circle">❮</a>
              <a href="#slide<%= index + 2 > @shop.products.count ? 1 : index + 2 %>" class="btn btn-circle">❯</a>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div>
        <%= render 'booking', { shop: @shop, service_times: @shop.service_times } %>
      </div>
    </div>
  </div>
</section>
<div class="comment-container">
  <%= render 'comments/form', shop: @shop %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', shop: @shop, comment: comment %>
  <% end %>
</div>