<section class="container mx-auto p-10 md:p-5">
  <div class="mx-4 text-sm mt-2 md:text-sm breadcrumbs">
    <ul class="text-gray-600 mx-auto">
      <li><%= link_to t('home'), root_path %></li>
      <li><span class="text-orange-700 font-bold"><%= @shop.title %></span></li>
    </ul>
  </div>
  <div class="hidden md:block h-[300px] relative">
    <div class="absolute bottom-0 left-4 md:left-10 z-10 text-white">
      <h1 class="text-sm md:text-xl font-bold"><%= @shop.title %></h1>
    </div>
    <div class="absolute top-5 md:right-5 z-10 text-white">
      <% if user_signed_in? && %>
        <%= render 'like_shops', shop: @shop%>
      <% end %>
    </div>
    <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
      <% if @shop.cover.attached? %>
        <%= image_tag @shop.cover, class: "w-full h-full object-cover brightness-50" %>
      <% else %>
        <img src="https://fakeimg.pl/1000x300/200" class="w-full h-full object-cover">
      <% end %>
    </div>
  </div>
  
  <div class=" mb-10 grid-cols-4 gap-4 md:hidden">
    <div class="card col-span-2 bg-white-100 shadow-xl">
      <div class="p-2">
        <%# 手機顯示輪撥 %>
        <div class="h-48 order-1 md:hidden" data-controller="carousel">
          <div class="carousel h-48">
            <% @shop.products.each do |product| %>
              <div class="carousel-item " data-carousel-target="slide">
                <picture class="p-2 md:hidden"><%= image_tag product.cover.variant(:cover) %></picture>
              </div>
            <% end %>
          </div>
        </div>
        <div class="p-4">
          <div>
            <%= render 'shared/shop_info',shop: @shop %>
          </div>
          <div class="mb-2">
            <p class="text-sm text-gray-500"><%=@shop.description %></p>
          </div>
          <h4 class="text-2xl text-center my-4 md:hidden">
            <%= t('order.shop_location') %>
            <hr class="border-2 mt-2">
          </h4>
          <div class="p-2 md:hidden aspect-w-16 aspect-h-9 w-full max-w-full mb-4 md:block">
            <%= render 'shared/google_map', shop: @shop %>
          </div>
          <hr class="border-2 mt-2">
        </div>
      </div>
      <div>
        <%=render 'shared/business_hours', class: 'mb-10' %>
      </div>
      <details class="collapse collapse-arrow text-center border border-base-300 bg-slate-100 mb-3">
        <summary class="collapse-title text-xl font-medium px-1">
          <h4 class="text-lg text-center text-gray-600 font-medium">
            <%= t('helpers.submit.product.comment') %>
          </h4>
        </summary>
        <div class="collapse-content"> 
          <%= render partial: 'comments/form', locals: { order: @order, shop: @shop } if @order %>
          <% @comments.each do |comment| %>
            <%= render 'comments/comment', shop: @shop, comment: comment %>
          <% end %>
        </div>
      </details>
    </div>
  </div>
  



  <%# 桌機 %>
  <div class="hidden p-10 md:grid grid-cols mb-10 md:grid-cols-4 gap-4">
    <div class="md:card col-span-2 bg-white-100 shadow-xl">
      <div class="md:card-body mx-2 mb-10 md:mx-10">
        <ul class="text-lgfont-medium mb-3">
          <li class="mb-4">
            <div class="hidden aspect-w-16 aspect-h-9 w-full max-w-full mb-4 md:block">
              <%= render 'shared/google_map', shop: @shop %>
            </div>
          </li>
            <div class="p-2">
              <li>
                <%= render 'shared/shop_info',shop: @shop %>
              </li>
            </div>
        </ul>

      <div class="mx-2">
        <div>
          <%=render 'shared/business_hours'%>
        </div>
        <div class="collapse collapse-arrow border border-base-300 bg-slate-100 mb-3">
          <input type="checkbox"/> 
          <div class="collapse-title text-lg text-center text-gray-600 font-medium">
              <%= t('helpers.submit.product.comment') %>
          </div>
          <div class="collapse-content text-gray-700 w-96 h-auto"> 
            <%= render partial: 'comments/form', locals: { order: @order, shop: @shop } if @order %>
            <% @comments.each do |comment| %>
              <%= render 'comments/comment', shop: @shop, comment: comment %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <%# 桌機顯示輪撥 %>
    <div class="hidden md:block order-2 card col-span-2 bg-white-100 shadow-xl">
      <div class="card-body" data-controller="carousel">
        <div class="carousel mx-12 relative">
          <% @shop.products.each do |product| %>
            <div class="carousel-item " data-carousel-target="slide">
              <picture class="hidden md:block"><%= image_tag product.cover.variant(:cover) %></picture>
            </div>
          <% end %>
          <div class="absolute flex justify-between left-2 right-2 top-1/2">
            <button class="btn glass opacity-80" data-action="carousel#previous">❮</button>
            <button class="btn glass opacity-80" data-action="carousel#next">❯</button>
          </div>
        </div>
        <%# 桌機表單 %>
        <div class="hidden md:block mx-12">
          <%= render 'booking', { shop: @shop, service_times: @shop.service_times } %>
        </div>
      </div>
    </div >
  </div>
  <%# 其他熱門商品(桌機) %>
  <section class="hidden md:block mx-12">
    <h3 class="text-center text-3xl text-gray-600 my-6">
      <%= t('product.hot') %>
    </h3>
    <div class="mt-4">
      <div class="carousel">
        <div class="carousel-item relative w-full">
          <% @products_on_sale.sample(3).each do |product| %>
            <div data-controller="product-info"
                data-product-info-title-value="<%= product.title %>"
                data-product-info-description-value="<%= product.description %>"
                data-product-info-price-value="<%= "NT#{format_price(product.price)}" %>"
                data-product-info-image-url-value="<%= url_for(product.cover.variant(:cover)) %>"
                data-product-info-service-min-value="<%= "#{product.service_min}#{t('order.min')}" %>"
                data-product-info-url-value="<%= product_url(product) %>"
                data-action="click->product-info#showDetails"
                class="card card-compact w-96 bg-gray-200 mx-10 relative cursor-pointer">
              
              <figure class="relative h-48 overflow-hidden">
                <%= image_tag product.cover.variant(:cover) %>
                <div class="absolute bottom-0 left-0 right-0 bg-opacity-75 bg-gray-700 p-2 rounded-tl rounded-tr">
                  <p class="text-sm font-semibold text-center text-white">
                    <%= t('product.flash_sale') %>
                    <span class="text-lg font-bold text-orange-500">
                      $<%= format_price(product.price) %>
                    </span>
                  </p>
                </div>
              </figure>
              <div class="card-body">
                <h2 class="card-title text-lg">
                  <%= product.title.truncate(13) %>
                </h2>
                <p>
                  <%= product.description.truncate(100) %>
                  <span class="text-sm text-gray-400">
                    <%= t('product.more') %>
                  </span>
                </p>
              </div>
            </div>
          <% end %>
        </div> 
      </div>
    </div>
  </section>
</section>


<%# 手機表單 %>
<div class="fixed bottom-0 w-full md:hidden bg-emerald-600 opacity-100 md:hidden">
  <div class="relative">
    <div class="diagonal-bg bg-white bg-opacity-100"></div>
    <%= render 'booking', { shop: @shop, service_times: @shop.service_times } %>
  </div>
</div>

