<section class="container mx-auto p-5">
  <div class="text-sm breadcrumbs">
    <ul>
      <li><%= link_to t('home'), root_path %></li>
      <li><%= @shop.title %></li>
    </ul>
  </div>
  <div class="h-[300px] relative">
    <article class="mt-4 z-10 absolute top-64 left-10 text-white">
      <h1 class="text-xl font-bold"><%= @shop.title %></h1>
    </article>
    <div class="absolute h-[300px] overflow-hidden place-items-center">
      <% if @shop.cover.attached? %>
        <%= image_tag @shop.cover, class: "w-full -translate-y-1/4 brightness-50" %>
      <% else %>
        <img src="https://fakeimg.pl/1000x300/200" class="w-full">
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <ul class="card-body mx-10">
        <li class="text-lg font-medium mb-3">
          <div class="aspect-w-16 aspect-h-9 w-full max-w-full mb-4">
            <%= render 'shared/google_map', shop: @shop %>
          </div>
        </li>
        <div class="p-2">
          <div class="mb-8">
            <%= render 'shared/shop_info', shop: @shop %>
          </div>
          <div class="flex">
            <%=render 'shared/business_hours' %>
            <div class="w-1/4 ml-auto mt-2">
              <% if user_signed_in? %>
                <%= render 'like_shops', shop: @shop %>
              <% end %>
            </div>
          </div>
          <hr class="my-6">
        </div>
      </ul>
    </div>
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <div class="card-body" data-controller="carousel">
        <div class="carousel mx-12 relative">
          <% @shop.products.each do |product| %>
            <div class="carousel-item " data-carousel-target="slide">
              <%= image_tag product.cover.variant(:cover) %>
            </div>
          <% end %>
          <div class="absolute flex justify-between left-2 right-2 top-1/2">
            <button class="btn glass opacity-80" data-action="carousel#previous">❮</button>
            <button class="btn glass opacity-80" data-action="carousel#next">❯</button>
          </div>
        </div>
        <div class="mx-12">
          <%= render 'booking', { shop: @shop, service_times: @shop.service_times } %>
        </div>
      </div>
    </div >
  </div>
</section>
<section>
  <h3 class="text-center text-3xl text-gray-600 my-6"><%= t('product.hot') %></h3>
  <div class="card md:col-span-2 mt-4">
    <div class="carousel">
      <div class="carousel-item relative w-full ">
      <% @products_on_sale.each do |product| %>
    <div data-controller="product-info"
        data-product-info-title-value="<%= product.title %>"
        data-product-info-description-value="<%= product.description %>"
        data-product-info-price-value="<%= "NT#{format_price(product.price)}" %>"
        data-product-info-image-url-value="<%= url_for(product.cover.variant(:cover)) %>"
        data-product-info-service-min-value="<%= "#{product.service_min}#{t('order.min')}" %>"
        data-product-info-url-value="<%= product_url(product) %>"
        data-action="click->product-info#showDetails"
        class="card card-compact w-96 bg-gray-200 <%= @onsale_count >= 5 ? 'mx-2' : 'mx-auto' %> relative cursor-pointer">
        
          <figure class="relative h-48 overflow-hidden">
            <%= image_tag product.cover.variant(:cover) %>
            <div class="absolute bottom-0 left-0 right-0 bg-opacity-75 bg-gray-700 p-2 rounded-tl rounded-tr">
              <p class="text-sm font-semibold text-center text-white ">
                <%= t('product.flash_sale') %>
                <span class="text-2xl font-bold text-orange-500">
                  $<%= format_price(product.price) %>
                </span>
              </p>
            </div>
          </figure>
          <div class="card-body">
            <h2 class="card-title text-lg">
              <%= product.title.truncate(13) %>
              <hr class="border-3">
            </h2>
            <p>
              <%= product.description.truncate(100) %>
              <span class="text-sm text-gray-400">
                <%= t('product.more') %>
              </span>
            </p>
          </div>
        </div>
      <% end %>
      </div> 
    </div>
  </div>
</section>
<div class="comment-container">
  <%= render 'comments/form', shop: @shop %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', shop: @shop, comment: comment %>
  <% end %>
</div>

