<div>
  <% if config.errors.any? %>
  <section class="p-4 my-4 text-white bg-rose-600">
    <ul>
    <% config.errors.full_messages.each do |message| %>
      <li><%= t message, scope: %i[service_times message] %></li>
    <% end %>
    </ul>
  </section>
  <% end %>
  <%= config_field.hidden_field :id %>
  <div class="flex items-center ">
    <div>
      <%= config_field.label :day_of_week, 
              t(config.day_of_week, scope: [:service_times]), 
              class: 'label content-center' %>
      <%= config_field.hidden_field :day_of_week %>
    </div>
    <div class="flex items-center ml-4">
      <%= config_field.label t 'service_times.off_day', class: 'label' %>
      <%= config_field.check_box :off_day, class: 'toggle toggle-error' %>
    </div>
  </div>
  <section class="grid gap-x-4 content-center">
    <div class="flex">
      <%= render 'config_time', column: :open_time, value: config.open_time, config_field: %>
      <%= render 'config_time', column: :close_time, value: config.close_time, config_field: %>
      <%= render 'config_time', column: :lunch_start, value: config.lunch_start, config_field: %>
      <%= render 'config_time', column: :lunch_end, value: config.lunch_end, config_field: %>  
    </div>    
  </section>
</div>