<div class="footer">
  <div class="ml-2">
    <img src="https://picsum.photos/200/150/?random=10" />
  </div>
  <div class="about-us">
    <h2 class="text-lg">認識RESTIME</h2>
    <ul>
      <li><%= link_to '我們的誕生', about_path %></li>
      <li><%= link_to '選擇我們', about_path %></li>
      <li><%= link_to '加入我們', about_path %></li>
      <li><%= link_to '聯繫我們', about_path %></li>
    </ul>
  </div>
  <div class="terms">
    <h2 class="text-lg">條款</h2>
    <ul>
      <li><%= link_to '使用者條款', terms_path %></li>
      <li><%= link_to '隱私權政策', terms_path %></li>
      <li><%= link_to '退費政策', terms_path %></li>
    </ul>
  </div>
  <div class="questions">
    <h2 class="text-lg">付費問題</h2>
    <ul>
      <li><%= link_to '付費方式', payment_path %></li>
      <li><%= link_to '訂單問題', order_path %></li>
      <li><%= link_to '預約變更/退費', refund_path %></li>
    </ul>
  </div>
</div>
