<footer class="w-screen pt-2 bg-base-200 text-base-content">
  <aside class="w-72 mx-auto overflow-hidden">
    <%= link_to root_path do %>
      <%= image_tag "pages/logo.png", { alt:"RESTIME", class:"mix-blend-multiply scale-0.8 md:scale-1" } %>
    <% end %>
  </aside>
  <div class="mt-6 mx-auto md:flex ">
    <nav class="w-52">
      <header class="footer-title"><%= t('footer.about_restime') %></header> 
      <%= link_to t('footer.our_origin'), about_path %>
    </nav> 
    <nav class="w-52">
      <header class="footer-title"><%= t('footer.terms') %></header> 
      <%= link_to t('footer.privacy_policy'), privacy_path %>
    </nav> 
    <nav class="w-52">
      <header class="footer-title"><%= t('footer.payment_issues') %></header> 
      <ul>
        <li><%= link_to t('footer.payment_methods'), payment_path %></li>
        <li><%= link_to t('footer.refund_policy'), refund_policy_path %></li>
      </ul>
    </nav>
  </div>
</footer>