<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <div class=" bg-white fixed w-full top-0 z-20 opacity-95">
      <div x-data="{ open: false }" class="flex flex-col w-full px-4 mx-auto items-center justify-between md:flex-row">
        <div class="flex flex-row items-center justify-between p-4">
            <h1 class="text-2xl text-primary font-bold">
              <%= link_to "ResTime", root_path %>
            </h1>
          <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
            <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
              <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
              <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex xl:justify-center xl:flex-row xl:items-center">
          <section class="menu md:menu-horizontal md:flex md:items-center md:justify-center">
            <div class="flex items-center justify-center">
              <form action="<%= search_path %>" data-turbo="false">
                <input type="search" name="q" class="input input-sm input-bordered text-lg" placeholder="<%= t('navbar.search_shop')%>">
                <button class="btn btn-sm btn-primary text-lg"><%= t(:search) %></button>
              </form>
            </div>
            <span class="btn btn-sm btn-ghost text-stone-700 hover:bg-accent">
              <%= link_to t('navbar.homepage'), index_path, class:'text-lg' %>
            </span>
            <span class="btn btn-sm btn-ghost text-stone-700 hover:bg-accent">
              <%= link_to t('navbar.products'), products_path, class:'text-lg' %>
            </span>
            <span class="btn btn-sm btn-ghost text-stone-700 hover:bg-accent">
              <%= link_to t('navbar.shops'), shops_path, class:'text-lg' %>
            </span>
            <% if user_signed_in? %>
              <div class="flex justify-center dropdown md:dropdown-end justify-self-center">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                  <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
                    <span id="badge" class="badge badge-xs badge-primary indicator-item 
                          <%= "hidden" if current_user.notifications.count == 0 %>" ></span>
                    <%= turbo_stream_from current_user %>
                  </div>
                </div>
                <div tabindex="0" class="dropdown-content z-[1] card card-compact w-screen p-2 shadow bg-base-100 md:w-[520px]">
                  <div id="notification" class="card-content h-72 overflow-auto">
                    <%= render partial: 'shared/notification', collection: current_user.notifications, as: :notification %>
                  </div>
                </div>
              </div>
              <li>
                <details>
                  <summary class="text-center">
                    <% if policy(:shop).index? %>
                      <div class="bg-warning text-white px-2 py-1 rounded-md text-sm">
                        <%= t("user_roles.#{current_user.role}") %>
                      </div>
                    <% end %>
                    <i class="fa-solid fa-user"></i>
                    <div class="text-lg">
                    <%= current_user.email%>
                    </div>
                  </summary>
                  <!-- 下拉選單 -->
                  <ul class="py-5">
                    <li><%= link_to t('navbar.logout'), destroy_user_session_path, data: { turbo_method: "delete" }, class:'text-lg' %></li>
                    <li><%= link_to(t('navbar.edit password'), edit_registration_path(:user), class:'text-lg') %></li>
                    <% if policy(:shop).index? %>
                      <li><%= link_to t('navbar.my_backstage'), vendor_index_path, class: 'text-red-500 text-lg' %></li>
                    <% end %>
                    <li><%= link_to t('my_orders'), orders_path, class:'text-lg' %></li>
                  </ul>
                </details>
              </li>
            <% else %>
              <span class="btn btn-sm btn-ghost text-stone-700 hover:bg-accent">
                <%= link_to '註冊', new_user_registration_path, class:'text-lg' %>
              </span>
              <span class="btn btn-sm btn-ghost text-stone-700 hover:bg-accent">
                <%= link_to '登入', new_user_session_path, class:'text-lg' %>
              </span>
            <% end %>
          </section>  
        </nav>
    </div>
  </div>
