<div class="text-2xl mt-5">
  <h4><%= t('product.hot') %></h4>
</div>
<hr class="border">
<ul data-controller="scroll">
  <% resource.products.each do |product| %>
    <li data-scroll-target="item" class="text-xl order_text tracking-wide">
      <div class="h-96 carousel-item h-full">
        <div class="text-gray-500">
          <div class="card my-3">
            <div class="card-body border rounded-md border-gray-500">
              <div class="flex items-center justify-between">
                <h2 class="card-title text-2xl text-gray-700 mr-4">
                  <%= product.title %>
                </h2>
                <div class="flex items-center">
                  <p class="text-sm font-semibold mr-2">
                    <%= t('product.flash_sale') %>
                  </p>
                  <span class="text-xl font-bold text-orange-600 mr-2">
                    $<%= format_price(product.price) %>
                  </span>
                </div>
              </div>
              <p>
                <%= product.description.truncate(90) %>
                <span class="text-sm text-gray-400">
                  <%= link_to t('product.more'), shop_path(@shop) %>
                </span>
              </p>
              <span class="text-right">
                <%= link_to t('order.book_now'), shop_path(@shop), class: 'text-lg text-orange-600' %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
