<div class="card w-full bg-white-100 shadow-xl">
  <div class="card-body gap-4">
    
    <% if order.errors.any? %>
      <section class="md:p-4 my-4 text-white bg-rose-600 rounded">
        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </section>
    <% end %>
    <div>
    </div>
    <%= form_with model: order, data: { turbo:false }, class: 'flex flex-col gap-2' do |form| %>
      <div>
        <%= form.text_field :booked_name, placeholder: t('message.input_booked_name'), class: 'input w-full input-bordered text-center' %>
      </div>
      <div>
        <%= form.text_field :booked_email, value: current_user.email, class: 'input w-full input-bordered text-center', placeholder: '請輸入您的電子郵件' %>
      </div>
      <div>
        <%= form.label :payment_type, t('order.payment_type'), class: 'label' %>
        <%= form.select :payment_type, ['Credit Card', 'LinePay'], { prompt: t('order.payment_type') }, class: 'select w-full input-bordered' %>
      </div>

      <%= form.submit t('order.confirm'), class: 'btn btn-primary mt-4' %>
    <% end %>
  </div>
</div>