<div class="collapse collapse-arrow bg-gray-300 hover:bg-gray-200 my-4 rounded-lg">
  <input type="radio" name="my-accordion-1" id="accordion-1" checked="checked" class="peer"/>

  <div class="collapse-title flex justify-between items-center text-sm">
    <div class="flex-1 p-2">
      <span class="font-semibold text-gray-700">
        <%= order.shop.title %>
      </span>
    </div>
    <div class="flex-1 p-2">
      <span class="font-semibold text-gray-700">
        <%= t('form.title') %>:
        <%= order.product.title %>
      </span>
    </div>
    <div class="flex-1 p-2">
      <span class="font-semibold text-gray-700">
        <%= t('order.booking_time_slot') %>:
        <%= format_datetime(order.service_date) %>
      </span>
    </div>
    <div class="p-2 ml-auto">
      <span class="font-semibold text-gray-700">
        <%= t("aasm.order_state.#{order.status}") %>
      </span>
    </div>
  </div>
  <hr>
  <div class="collapse-content text-sm bg-gray-300">
    <br>
    <div class="p-2">
      <span class="font-semibold text-gray-700">
        <%= t('order.serial') %>
        <%= link_to order.serial, order_path(order) %>
      </span>
      <span class="p-2 text-sm">
        (<%= t('order.created_date') %>:
        <%= format_date(order.created_at)%>)
      </span>
    </div>
    <div class="p-2">
      <%= t('order.booking_date') %>:
      <%= format_datetime(order.service_date) %>
    </div>
    <div class="p-2">
      <%= t('order.price') %>: NT$
      <%= order.price.to_i %>
    </div>
    <div class="p-2 text-right">
      <%= link_to t('order.order_info'), order_path(order),
      class: "bg-slate-500 hover:bg-slate-400 text-white font-bold py-2 px-4 rounded" %>

      <% unless order.completed? || order.cancelled? %>
        <%= link_to t('order.appointment_change'), edit_order_path(order),
        class: "bg-slate-500 hover:bg-slate-400 text-white font-bold py-2 px-4 rounded ml-2" %>
      <% end %>

      <% if order.may_cancel? %>
        <%= link_to t('order.cancel_order'), cancel_order_path(order), 
            class: "bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded ml-2",
            data: { turbo_method: 'patch', turbo_confirm: t('message.are_you_sure_cancel_order') } %>
      <% end %>

      <% if order.may_pay? %>
        <%= link_to t('order.pay'), '#', 
            class: "bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded ml-2" %>
      <% end %>

      <% if order.paid? %>
        <%= link_to t('order.comment'), shop_path(order.shop), 
            class: "bg-slate-500 hover:bg-slate-400 text-white font-bold py-2 px-4 rounded ml-2",
            data: { toggle: "modal", target: "#commentModal" } %>
      <% end %>
    </div>
  </div>
</div>
