<div class="text-sm breadcrumbs">
  <ul>
    <li><%= link_to t('home'), root_path %></li>
    <li><%= link_to t('my bookings'), my_bookings_orders_path %></li>
    <li><%= t('order.chang_booking_time')%></li>
  </ul>
</div>

<section class="container mx-auto p-5">
  <div class="h-[300px] relative">
    <article class="mt-4 z-10 absolute top-64 left-10 text-white">
      <h1 class="text-xl font-bold"><%= @order.shop.title %></h1>
    </article>
    <div class="absolute h-[300px] overflow-hidden place-items-center">
      <% if @order.shop.cover.attached? %>
        <%= image_tag @order.shop.cover, class: "w-full -translate-y-1/4 brightness-50" %>
      <% else %>
        <img src="https://fakeimg.pl/1000x300/200" class="w-full">
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <ul class="card-body mx-10">
        <li class="text-lg font-medium mb-3">
          <div class="aspect-w-16 aspect-h-9 w-full max-w-full">
            <iframe class="w-full h-full border-0 rounded-lg" frameborder="0" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_API_KEY'] %>&q=<%= ERB::Util.url_encode(address(@shop)) %>" allowfullscreen>
            </iframe>
          </div>
        </li>
        <div class="grid grid-cols-4 gap-2">
          <div class="col-span-2">
            <ul>
              <li class="mb-4">
                <h2 class="text-2xl font-bold mb-3"><%= t('views.shop.show.information') %></h2>
              </li>
              <li class="text-lg font-medium mb-2">
                <%= @order.shop.title %>
              </li>
              <li class="text-m font-medium mb-2">
                <%= @order.shop.description %>
              </li>
              <li class="text-lg font-medium mb-2">
                <%= @order.shop.tel %>
              </li>
              <li class="text-lg font-medium mb-2">
                <%= address(@order.shop) %>
              </li>
            </ul>
          </div>
          <div class="col-span-2 mx-auto">
            <ul>
              <li class="mb-4">
                <h2 class="text-2xl font-bold mb-3">
                  <%= t('service_times.title') %>
                </h2>
              </li>
              <li class="text-m font-medium mb-2">
                <%= t('service_times.monday') %> ： 
                <%= t('service_times.off_day') %>
              </li>
              <li class="text-m font-medium mb-2">
                <%= t('service_times.tuesday') %> 
                ： 11:00 － 23:00
              </li>
              <li class="text-m font-medium mb-2">
                <%= t('service_times.wednesday') %> ： 
                <%= t('service_times.off_day') %>
              </li>
              <li class="text-m font-medium mb-2">
                <%= t('service_times.thursday') %> 
                ： 11:00 － 23:00
              </li>
              <li class="text-m font-medium mb-2">
                <%= t('service_times.friday') %> 
                ： 11:00 － 23:00
              </li>
              <li class="text-m font-medium mb-2">
                <%= t('service_times.saturday') %> 
                ： 11:00 － 23:00
              </li>
              <li class="text-m font-medium mb-2">
                <%= t('service_times.sunday') %> 
                ： 11:00 － 23:00
              </li>
            </ul>
          </div>
        </div>
      </ul>
    </div>
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <div class="card-body">
        <div class="overflow-x-auto mb-10 ml-12 mr-12">
          <h3 class="mb-3 mt-3 text-lg font-bold"><%= t('message.original_time') %></h3>
          <hr class="mt-1">
          <table class="min-w-full table-auto border-collapse bg-slate-100 shadow-lg text-lg text-gray-800 rounded-lg overflow-hidden">
            <thead class="bg-gray-300">
              <tr>
                <th class="px-4 py-2 border-b-2 text-left text-gray-600 rounded-tl-lg">
                  <%= t('order.booking_item') %>
                </th>
                <th class="px-4 py-2 border-b-2 text-left text-gray-600">
                  <%= t('order.booking_date') %>
                </th>
                <th class="px-4 py-2 border-b-2 text-left text-gray-600 rounded-tr-lg">
                  <%= t('order.time_start_end') %>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="px-4 py-2 border-b rounded-bl-lg">
                  <%= truncate(@order.product.title, length: 13) %>
                </td>
                <td class="px-4 py-2 border-b">
                  <%= format_date(@order.service_date) %>
                </td>
                <td class="px-4 py-2 border-b rounded-br-lg">
                  <%= "#{format_time_without_sec(@order.service_date)}－#{booking_end_time(@order)}" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mr-12 ml-12">
          <div>
            <%= form_with model: @order, data: { turbo: false } do |f| %>
              <%= f.label :service_date, t('message.enter_the_change_time'), class: 'text-lg font-bold' %>
              <hr class="mt-1">
              <%= f.text_field :service_date, data: { controller: 'datepicker', serviceTimes: filter_service_times(@order.product.shop.service_times)}, class: 'input input-bordered w-full mt-4' %>
              <%= f.submit t('order.chang_booking_time'),
              class: 'mt-4 w-full bg-orange-400 hover:bg-orage-250 text-black font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
              <%= link_to t('form.back'), request.referrer, class: 'block w-full bg-gray-400 hover:bg-gray-250 text-black font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center mt-4' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>