<section class="container mx-auto p-1 md:p-5">
  <div class="mx-2 text-sm my-2 md:text-sm breadcrumbs">
    <ul>
      <li><%= link_to t('home'), root_path %></li>
      <li><%= link_to t('navbar.mybookings'), orders_path %></li>
      <li>
        <span class="text-orange-700 font-bold">
          <%= t('order.appointment_change')%>
        </span>
      </li>
    </ul>
  </div>
  <div class="hidden md:block h-[300px] relative">
    <div class="absolute bottom-0 left-4 md:left-10 z-10 text-white">
      <h1 class="text-sm md:text-xl font-bold"><%= booking_shop.title %></h1>
    </div>
    <div class="absolute top-5 md:right-5 z-10 text-white">
      <% if user_signed_in? && %>
        <%= render 'shops/like_shops', shop: booking_shop%>
      <% end %>
    </div>
    <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
      <% if booking_shop.cover.attached? %>
        <%= image_tag booking_shop.cover, class: "w-full h-full object-cover brightness-50" %>
      <% else %>
        <img src="app/assets/images/shops/default_cover.png" class="w-full h-full object-cover">
      <% end %>
    </div>
  </div>
  <div class="hidden md:grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <ul class="card-body mx-10">
        <li class="text-lg font-medium mb-3">
          <div class="aspect-w-16 aspect-h-9 w-full max-w-full mb-4">
            <%= render 'shared/google_map', shop: @shop %>
          </div>
        </li>
        <div class="p-2">
          <div class="mb-8">
            <%= render 'shared/shop_info', shop: @order.shop %>
          </div>
          <%= render "shared/business_hours" %>
        </div>
      </ul>
    </div>
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <div class="card-body">
        <div class="overflow-x-auto mb-10 ml-12 mr-12">
          <table class="min-w-full table-auto border-collapse bg-slate-100 shadow-lg text-lg text-gray-800 rounded-lg overflow-hidden">
            <%= render 'order_table' %>
          </table>
        </div>
        <div class="mr-12 ml-12">
          <div data-controller="datepicker" 
            data-service-times="<%= filter_service_times(@order.product.shop.service_times).to_json %>" 
            data-shop="<%= @shop.id %>">
            <%= form_with model: @order, data: { turbo: false } do |f| %>
              <%= f.label :service_date, t('order.reschedule_the_booking_time'), class: 'text-lg text-gray-700 font-bold' %>
              <hr class="mt-1">
              <%= f.hidden_field :product_id, data: { datepicker_target: 'selectProduct' }%>
              <%= f.text_field :service_date,
                    value: format_datetime(@order.service_date), 
                    data: {
                        datepicker_target: 'serviceDate',
                        action: "mousedown->datepicker#initializeDatePicker",
                      }, class: 'input input-bordered w-full mt-4 text-center' %>
              <%= f.button t('order.change_booking_time'), 
                    class: 'order_accent_btn',
                    type: 'submit' %>
            <% end %>
              <%= link_to t('form.back'), request.referrer, class: 'order_gray_btn btn text-lg' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# 手機顯示 %>
  <div class="card order-1 md:order-3 md:hidden col-span-2 bg-white-100 shadow-xl">
      <div class="relative md:mx-12">
        <figure class="mt-2 md:p-8">
          <%= image_tag booking_product.cover.variant(:cover), class: "w-full" %>
        </figure>
        <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-60 px-4 md:p-4">
          <div class="justify-end">
            <h2 class="card-title text-xl">
              <%= booking_product.title %>
            </h2>
            <div class="badge badge-secondary text-sm">
              <%= booking_product.service_min %>
              <%= t('order.min') %>
            </div>
          </div>
        </div>
      </div>
      <%# 手機顯示 %>
      <div class="text-sm text-gray-600 md:hidden">
        <div class="card">
          <div class="card-body">
            <div class="steps">
              <%= render_steps(@order) %>
            </div>
          </div>
          <div>
          <table class="min-w-full table-auto border-collapse bg-slate-100 shadow-lg text-sm text-gray-800 rounded-lg overflow-hidden">
            <%= render 'order_table' %>
          </table>
          <div>
          <div>
          <div class="p-4">
            <div data-controller="datepicker" 
            data-service-times="<%= filter_service_times(@order.product.shop.service_times).to_json %>" 
            data-shop="<%= @shop.id %>">
            <%= form_with model: @order, data: { turbo: false } do |f| %>
              <%= f.label :service_date, t('order.reschedule_the_booking_time'), class: 'text-lg text-gray-700 font-bold' %>
              <hr class="mt-1">
              <%= f.hidden_field :product_id, data: { datepicker_target: 'selectProduct' }%>
              <%= f.text_field :service_date,
                    value: format_datetime(@order.service_date), 
                    data: {
                        datepicker_target: 'serviceDate',
                        action: "mousedown->datepicker#initializeDatePicker",
                      }, class: 'input input-bordered w-full mt-4 text-center' %>
              <%= f.button t('order.change_booking_time'), 
                    class: 'order_accent_btn',
                    type: 'submit' %>
            <% end %>
              <%= link_to t('form.back'), request.referrer, class: 'order_gray_btn btn text-lg' %>
          </div>
          </div>

            <details class="collapse collapse-arrow border border-base-200 bg-gray-200 mb-5 px-5">
              <summary class="collapse-title text-lg font-medium ">
                <h3 class="text-center px-5">
                  <%= t('order.faqs') %>
                </h3>
              </summary>
              <div class="collapse-content"> 
                  <div class="p-3">
                    <h4 class="text-center underline mb-2 font-bold">
                      <%= t('faqs.order.title.redemption') %>
                    </h4>
                    <p class="mb-1 text-gray-500">★ 您可以通過我們的系統選擇您需要的服務進行預約。系統會為您的預約生成一個獨特的QR碼，用於後續的核銷程序。</p>
                    <p class="mb-1 text-gray-500">★ 在預約的日期和時間，請攜帶您的QR碼前往預約地點。到達預約地點時，向工作人員出示您的QR碼。工作人員將使用專業設備掃描您的QR碼，確認完您的身分，進行核銷。</p>
                  </div>
                  <div class="p-3">
                    <h4 class="text-center underline mb-3 font-bold">
                      <%= t('faqs.order.title.redemption_notice') %>
                    </h4>
                    <p class="mb-1 text-gray-500">★ 請確保您的QR碼清晰可見，以便快速掃描。</p>
                    <p class="mb-1 text-gray-500">★ 請妥善保管您的QR碼，若經外人使用，恕不能重複使用及退費。</p>
                    <p class="mb-1 text-gray-500">★ 如果您遇到任何問題，請即時與我們的工作人員聯繫。</p>
                  </div>
              </div>
            </details>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>