<section class="container mx-auto p-5">
  <div class="text-sm breadcrumbs">
    <ul>
      <li><%= link_to t('home'), root_path %></li>
      <li><%= link_to t('navbar.mybookings'), orders_path %></li>
      <li><%= t('order.appointment_change')%></li>
    </ul>
  </div>
  <div class="h-[300px] relative">
    <article class="mt-4 z-10 absolute top-64 left-10 text-white">
      <h1 class="text-xl font-bold"><%= @order.shop.title %></h1>
    </article>
    <div class="absolute h-[300px] overflow-hidden place-items-center">
      <% if @order.shop.cover.attached? %>
        <%= image_tag @order.shop.cover, class: "w-full -translate-y-1/4 brightness-50" %>
      <% else %>
        <img src="https://fakeimg.pl/1000x300/200" class="w-full">
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <ul class="card-body mx-10">
        <li class="text-lg font-medium mb-3">
          <div class="aspect-w-16 aspect-h-9 w-full max-w-full mb-4">
            <%= render 'shared/google_map', shop: @shop %>
          </div>
        </li>
        <div class="p-2">
          <div class="mb-8">
            <%= render 'shared/shop_info', shop: @order.shop %>
          </div>
          <%= render "shared/business_hours" %>
        </div>
      </ul>
    </div>
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <div class="card-body">
        <div class="overflow-x-auto mb-10 ml-12 mr-12">
          <table class="min-w-full table-auto border-collapse bg-slate-100 shadow-lg text-lg text-gray-800 rounded-lg overflow-hidden">
            <%= render 'order_table' %>
          </table>
        </div>
        <div class="mr-12 ml-12">
          <div>
            <%= form_with model: @order, data: { turbo: false } do |f| %>
              <%= f.label :service_date, t('order.reschedule_the_booking_time'), class: 'text-lg text-gray-700 font-bold' %>
              <hr class="mt-1">
              <%= f.text_field :service_date, data: { controller: 'datepicker', serviceTimes: filter_service_times(@order.product.shop.service_times)}, class: 'input input-bordered w-full mt-4 text-center' %>
              <%= f.button t('order.change_booking_time'), 
              class: 'order_accent_btn',
              type: 'submit' %>
            <% end %>
              <%= link_to t('form.back'), request.referrer, class: 'order_gray_btn btn text-lg' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>