<div class="text-sm breadcrumbs">
  <ul>
    <li><%= link_to t('home'), root_path %></li>
    <li><%= link_to t('my_bookings'), orders_path %></li>
    <li><%= t('order.order_info') %></li>
  </ul>
</div>

<section class="container mx-auto p-5">
  <div class="h-[300px] relative">
    <article class="mt-4 z-10 absolute top-64 left-10 text-white">
      <h1 class="text-xl font-bold"><%= @order.shop.title %></h1>
    </article>
    <div class="absolute h-[300px] overflow-hidden place-items-center">
      <% if @order.shop.cover.attached? %>
        <%= image_tag @order.shop.cover, class: "w-full -translate-y-1/4 brightness-50" %>
      <% else %>
        <img src="https://fakeimg.pl/1000x300/200" class="w-full">
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <ul class="card-body mx-10">
        <li class="text-lg font-medium mb-3">
          <div class="aspect-w-16 aspect-h-9 w-full max-w-full mb-4">
            <%= render 'shared/google_map', shop: @order.shop %>
          </div>
        </li>
        <div class="p-2">
          <div class="mb-8">
            <%= render 'shared/shop_info', shop: @order.shop %>
          </div>
          <%= render "shared/business_hours" %>
        </div>
      </ul>
    </div>
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <div class="card-body">
        <ul class="steps mt-12 mb-12">
          <%= render_steps(@order) %>
        </ul>
        <div class="overflow-x-auto mb-10 ml-12 mr-12 mt-6">
          <table class="min-w-full table-auto border-collapse bg-slate-100 shadow-lg text-lg text-gray-800 rounded-lg overflow-hidden mb-8">
            <%= render 'order_table' %>
          </table>
          <div>
          <% unless @order.completed? || @order.cancelled? %>
            <div class="order_accent_btn">
              <%= link_to edit_order_path(@order), class: 'block-class' do %>
            <div >
              <%= t('order.appointment_change') %>
            </div>
          <% end %>
            </div>
          <% end %>
          <% if @order.may_cancel? %>
          <div class="order_gray_btn">
            <%= link_to t('order.cancel_order'), cancel_order_path(@order),
              data: { turbo_method: 'patch',
              turbo_confirm: t('message.are_you_sure_cancel_order') } %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="mr-12 ml-12">
          <div tabindex="0" class="collapse collapse-plus border border-base-200 bg-gray-200 mb-5 px-5">
            <div class="collapse-title text-lg font-medium ">
              <h3 class="text-center px-5">
                <%= t('order.faqs') %>
              </h3>
            </div>
            <div class="collapse-content"> 
              <div class="p-3">
                <h4 class="text-center underline mb-2 font-bold">
                  <%= t('faqs.order.title.redemption') %>
                </h4>
                <p class="mb-1 text-gray-500">★ 您可以通過我們的系統選擇您需要的服務進行預約。系統會為您的預約生成一個獨特的QR碼，用於後續的核銷程序。</p>
                <p class="mb-1 text-gray-500">★ 在預約的日期和時間，請攜帶您的QR碼前往預約地點。到達預約地點時，向工作人員出示您的QR碼。工作人員將使用專業設備掃描您的QR碼，確認完您的身分，進行核銷。</p>
              </div>
              <div class="p-3">
                <h4 class="text-center underline mb-3 font-bold">
                  <%= t('faqs.order.title.redemption_notice') %>
                </h4>
                <p class="mb-1 text-gray-500">★ 請確保您的QR碼清晰可見，以便快速掃描。</p>
                <p class="mb-1 text-gray-500">★ 請妥善保管您的QR碼，若經外人使用，恕不能重複使用及退費。</p>
                <p class="mb-1 text-gray-500">★ 如果您遇到任何問題，請即時與我們的工作人員聯繫。</p>
              </div>
            </div>
          </div>
          
          <% if @order.paid? %>
            <div tabindex="0" class="collapse collapse-plus border border-base-200 bg-gray-200">
              <div class="collapse-title text-lg font-medium text-center flex justify-center">
                <h3><%= t('order.redeeming') %></h3>
              </div>
              <ul class="collapse-content flex justify-center"> 
                <div class="">
                  <canvas data-controller="qrcode" data-text="<%= @url_string %>"></canvas>
                </div>
              </ul>
            </div>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</section>
