<%# 版頭圖片 %>
<div class="content">
  <div class="hero min-h-screen bg-center" style="background-image: url('<%= asset_url('pages/banner.jpg') %>');">
    <div class="hero-overlay bg-opacity-60 bg-gray-400"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h2 class="m-5 text-5xl text-white">ResTime</h2>
        <p class="pb-5 text-white">
          <%= t('homepage.slogan') %>
        </p>
        <div class="flex items-center justify-center">
          <form action="<%= search_path %>" data-turbo="false">
            <input type="search" name="q" class="input input-bordered" placeholder="<%= t('navbar.search_shop')%>">
            <button class="btn btn-primary"><%= t('homepage.star') %></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-2xl text-center p-10">熱門精選，立即體驗</h2>
<section class="pb-28">
  <div class="flex-col md:grid grid-cols-3 space-x-2 ">
    <%= link_to shops_path(q: { s: 'updated_at desc' }) do %>
      <div class="hero bg-center min-w-screen md:flex-1" style="background-image: url('<%= asset_url('pages/banner2.avif') %>');">
        <div class="hero-overlay bg-opacity-60 bg-gray-400"></div>
        <div class="hero-content text-center text-neutral-content flex items-center justify-center">
          <div class="max-w-md">
            <h2 class="m-5 text-3xl text-white">新上架精選</h2>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to shops_path(q: { s: 'city desc' }) do %>
      <div class="hero min-w-screen md:flex-1 bg-center" style="background-image: url('<%= asset_url('pages/banner3.avif') %>');">
        <div class="hero-overlay bg-opacity-60 bg-gray-400"></div>
        <div class="hero-content text-center text-neutral-content flex items-center justify-center">
          <div class="max-w-md">
            <h2 class="m-5 text-3xl text-white">冬季按摩推薦</h2>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to search_path(q: '美甲') do %>
      <div class="hero min-w-screen md:flex-1 bg-center" style="background-image: url('<%= asset_url('pages/banner4.avif') %>');">
        <div class="hero-overlay bg-opacity-60 bg-gray-400"></div>
        <div class="hero-content text-center text-neutral-content flex items-center justify-center">
          <div class="max-w-md">
            <h2 class="m-5 text-3xl text-white">美甲口碑推薦</h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="p-5 bg-primary hidden">
  <h2 class="text-2xl text-white text-center p-10">輕鬆預約，享受美好</h2>
  <div class="carousel carousel-center p-4 space-x-4 bg-ghost">
    <div class="carousel-item">
      <%= link_to root_path do %>
        <img src="<%= asset_url('pages/shops/1.avif') %>" class="rounded-box" style="width: 300px; height: 300px; object-fit: cover;" />
      <% end %>
    </div> 

    <div class="carousel-item">
      <%= link_to root_path do %>
        <img src="<%= asset_url('pages/shops/2.avif') %>" class="rounded-box" style="width: 300px; height: 300px; object-fit: cover;" />
      <% end %>
    </div> 

        <div class="carousel-item">
      <%= link_to root_path do %>
        <img src="<%= asset_url('pages/shops/1.avif') %>" class="rounded-box" style="width: 300px; height: 300px; object-fit: cover;" />
      <% end %>
    </div> 

    <div class="carousel-item">
      <%= link_to root_path do %>
        <img src="<%= asset_url('pages/shops/2.avif') %>" class="rounded-box" style="width: 300px; height: 300px; object-fit: cover;" />
      <% end %>
    </div> 
  </div>
</section>

<section class="mb-32 px-10 hidden">
  <h3 class="text-2xl p-5"><%= t('homepage.special_offer') %></h3>
  <div class="carousel carousel-center space-x-4 bg-ghost rounded-box">
    <% (1..10).each do |index| %>
      <div class="carousel-item">
        <%= link_to root_path do %>
          <img src="<%= asset_url('pages/shops/8.avif') %>" class="rounded-box" style="width: 300px; height: 300px; object-fit: cover;" />
          <span class="card-title">Lorem</span>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">TWD$888起</div> 
            <div class="badge badge-primary text-white">Hot!</div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>