<% shops.each do |shop| %>
  <div class="card w-[330px] h-80 m-auto lg:w-72 shadow-xl bg-slate-50">
    <%= link_to shop_path(shop) do %>
      <figure class="h-44 w-[330px] md:w-72 rounded-t-xl">
        <%= shop_cover(shop, :thumb) %>
      </figure>
    <% end %>

    <div class="card-body">
      <h2 class="card-title">
        <%= link_to shop.title, shop_path(shop), class: 'hover:text-primary' %>
      </h2>

      <div class="rating mt-2 justify-between" style="display: flex; align-items: center;">
        <div class="badge badge-neutral"><%= shop.city %></div>
          <div style="display: flex; align-items: center;">
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 px-5" />
            <div style="display: flex; align-items: center;">
              <%= link_to shop_path(shop) do %>
                <%= shop.average_rating %>
              <% end %>
              <span class="inline-block align-text-top mx-1">(<%= shop.comments.count %>)</span>
            </div>
          </div>
      </div>

    </div>
  </div>
<% end %>