登入1
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">RESTIME</h1>
      <p class="py-6">預約放鬆，今天開始 <br>
      Start today , your restime </p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100 py-8">
      <%= form_for(@user, url: user_session_path(@user), data: { turbo: false }, class: 'card-body' ) do |f| %>
        <div class="form-control w-52 m-auto  ">
          <%= f.label :email, t('member.email'), class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
        </div>
        <div class="form-control  w-52 m-auto mb-4   ">
          <%= f.label :password, t('member.password'), class: "label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
        </div>

        <div class="form-control  w-52 m-auto px-8">
          <%= link_to t("member.forgot your password?"), new_password_path(resource_name), class: "btn btn-primary" %>
        </div>
        
        <div class="form-control mt-4 w-52 m-auto px-8">
          <%= f.submit t('member.log in'), class: "btn btn-primary" %>
        </div>
        
      <% end %>
      <div class="mt-4 w-52 m-auto px-8">
          <%= button_to t("member.sign_in_with_google_oauth2"), user_google_oauth2_omniauth_authorize_path,{ data: { turbo: false }, class: "btn btn-primary"} %>
        </div>
    </div>
  </div>
</div>