<!DOCTYPE html>
<html>
<head>
    <title>預約變更通知</title>
    <link href="path_to_your_tailwind_css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-8">
        <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg">
            <div class="md:flex">
                <div class="w-full p-4">
                    <div class="relative">
                        <h2 class="text-xl font-bold text-gray-800">
                        【預約變更通知】顧客 <%= @order.booked_name %> 的預約時間更改 - 預約編號 <%= @order.serial %>
                        </h2>
                        <p class="text-gray-600 mt-2">尊敬的 <%= @order.shop.title %>，</p>
                        <p class="text-gray-600 mt-2">
                            您好！我們寫信是要通知您，您的顧客 <%= @order.booked_name %> 的預約時間有所更改。以下是詳細的變更資訊：
                        </p>
                        <ul class="list-disc list-inside mt-2">
                            <li>新預約時間：<%= @service_date %></li>
                            <li>預約編號：<%= @order.serial %></li>
                            <li>服務項目：<%= @product_description %></li>
                            <li>顧客聯絡資訊：<%= @order.booked_email %></li>
                        </ul>
                        <p class="text-gray-600 mt-2">若此變更給您帶來不便，我們深表歉意。如有任何問題或需要進一步協助，請隨時與我們聯繫。</p>
                        <p class="text-gray-600 mt-2">謝謝您的理解與配合，期待繼續為您提供優質服務。</p>
                        <p class="text-gray-600 mt-2">
                            此致<br>
                            ResTime<br>
                            <%= @vendor_email %><br>
                            <%= @time_now %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
