<div class="w-full p-2 h-100 bg-white-100 shadow-xl" data-controller="products">
  <div class="">
    <div class="card-title">
      <h3 class="mx-5 text-xl text-white">
        <%= t('order.currency') %>
        <span class="text-xl text-red-400 mx-1"><%= format_price(product.price) %></span>
        <div class="text-sm text-gray-600">
          原價
          <span class="line-through"><%= format_price(product.price / 0.8 ) %></span>
        </div>
      </h3>
    </div>
    <%= form_with url: booking_path, data: { turbo: false } do |f| %>
      <%= f.hidden_field :shop_id, value: shop.id %>
      <%= f.hidden_field :product_id, value: product.id,
                  data:{ action: "mousedown->products#toggleModal" }%>
      <div class="flex items-center mt-4">
        <%= f.text_field :service_date,
                        { data: {
                          controller: 'datepicker',
                          serviceTimes: filter_service_times(service_times)
                        },
                        class: 'input input-bordered flex-1' } %>

        <%= f.submit t("order.booking"), class: 'ml-4 bg-orange-400 hover:bg-orange-300 text-gray-700 font-semibold p-3 rounded focus:outline-none focus:shadow-outline' %>
      </div>
    <% end %>
  </div>

  <div>
    <input type="checkbox" id="products_modal" data-products-target="product_modal" class="modal-toggle" />
    <div class="modal" role="dialog">
      <div class="modal-box w-6/12">
        <h3 class="font-bold text-lg"><%= t('order.choose_product') %></h3>
        <%= render partial:'shops/radio_product',
            collection: shop.products, as: :product, locals: { index: 1 }%>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" 
                    data-action="products#toggleModal">✕</button>
            <button class="btn" data-action="products#toggleModal"><%= t('cancel') %></button>
          </form>
          <button class="btn" data-controller="products" 
                  data-action="products#selectProductOption"><%= t('ok') %></button>
        </div>
      </div>
    </div>
  </div>
</div>
