<div class="card w-85 gap-2 glass">

<%= tag.li data: { id: product.id },
           class: class_names('p-2', grayscale: !product.onsale, 'grayscale-0': product.onsale) do %>
  <div class="card-body">
    <%= link_to edit_product_path(product) do %>
      <figure>
        <%= product_cover(product) %>
      </figure>
    <% end %>
    <div class="card-tittle">
      <%= link_to product.title, edit_product_path(product) %>
    </div>
    <span>NT$ <%= product.price %></span>
    <%= link_to product_path(product) do %>
    <div class="card-actions justify-end">
      <button class="btn"><%= t('product.check') %></button>
    <% end %> 
     </div>
  </div>
<% end %>
</div>
