<p class="fs-5 p-1">商品列表</p>

<div class="grid grid-cols-1 gap-3">
    <%= search_form_for @q do |f| %>
      <div class="btn">
        <%= f.sort_link :price, t('product.price_order') %>
      </div>

      <div class="btn">
        <%= f.sort_link :service_min, t('product.service_order') %>
      </div>

      <div class="btn">
        <%= f.sort_link :updated_at, t('product.update_order') %>
      </div>
    <% end %> 
</div>

<ul class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-4">

  <%= render @products %>

</ul>

<footer>
  <%= paginate @products %>
</footer>