
<% if policy(@product).update? %>
  <%= link_to t('product.edit'), edit_product_path, class: 'btn' %>
  <%= link_to t('product.delete'), my_products_path, class: 'btn', method: :delete, data: {
   turbo_method: 'delete',
   turbo_confirm: t('product.confirm_delete')
 } %>
<% end %>
<%= image_tag @product.cover.variant(:thumb) if @product.cover.attached? %>

<h3><%=t('form.price')%>:<%= @product.price %><%=t('product.doller')%></h3>
<h3><%=t('form.service_min')%>:<%= @product.service_min %><%=t('product.min')%></h3>
<p><%=t('form.description')%>:<%= simple_format(@product.description) %></p>
