<section class="container mx-auto p-5">
  <div class="text-sm breadcrumbs">
    <ul>
      <li><%= link_to t('home'), root_path %></li>
      <li><%= link_to @product.shop.title, shop_path(@product.shop)  %></li>
      <li><%= t('order.product_info') %></li>
    </ul>
  </div>
  <div class="h-[300px] relative">
    <article class="mt-4 z-10 absolute top-64 left-10 text-white">
      <h1 class="text-xl font-bold"><%= @product.shop.title %></h1>
    </article>
    <div class="absolute h-[300px] overflow-hidden place-items-center">
      <% if @product.shop.cover.attached? %>
        <%= image_tag @product.shop.cover, class: "w-full -translate-y-1/4 brightness-50" %>
      <% else %>
        <img src="https://fakeimg.pl/1000x300/200" class="w-full">
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <div class="card-body mx-10">
        <ul class="text-lg font-medium mb-3">
          <li class="mb-4">
            <div class="aspect-w-16 aspect-h-9 w-full max-w-full mb-4">
              <%= render 'shared/google_map', shop: @product.shop %>
            </div>
          </li>
          <div class="p-2">
            <div class="mb-8">
              <%= render 'shared/shop_info',shop: @product.shop %>
            </div>
          </div>
          <div class="flex">
            <div tabindex="0" class="collapse collapse-plus border border-base-300 bg-slate-100 w-2/3 text-center mx-auto">
              <div class="collapse-title text-2xl font-medium text-gray-600">
                <%= t('service_times.title') %>
              </div>
              <div class="collapse-content text-2xl"> 
                <%= render partial: 'shops/service_times', collection: booking_shop.service_times, as: :service_time %>
              </div>
            </div>
          </div>
          <hr class="my-6">
        </ul>
      </div>
    </div>
    <div class="card md:col-span-2 bg-white-100 shadow-xl">
      <div class="card md:col-span-2">
        <div class="card-body">
          <div class="carousel mx-12">
            <div class="">
              <div class="card w-full bg-base-100 image-full">
                <figure><%= image_tag @product.cover.variant(:cover) %></figure>
                <div class="card-body">
                  <h2 class="card-title">商品title</h2>
                  <%= @product.service_min %>
                  <p><%= @product.description %></p>
                </div>
              </div>
              <div class="">
                <%= render 'booking', { shop: booking_shop, product: @product, service_times: booking_shop.service_times } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    </div >
  </div>
</section>
