<section class="container mx-auto p-1 md:p-5">
  <div class="mx-2 text-sm my-2 md:text-sm breadcrumbs">
    <ul class="text-gray-600 mx-auto">
      <li><%= link_to t('home'), root_path %></li>
      <li><%= link_to @product.shop.title, shop_path(@product.shop)  %></li>
      <li><span class="text-orange-700 font-bold"><%= t('order.product_info') %></span></li>
    </ul>
  </div>
  <div class="hidden md:block h-[300px] relative">
    <div class="absolute bottom-0 left-4 md:left-10 z-10 text-white">
      <h2 class="text-sm md:text-xl font-bold"><%= @product.shop.title %></h2>
    </div>
    <div class="absolute top-5 md:right-5 z-10 text-white">
      <% if user_signed_in? && %>
        <%= render 'shops/like_shops', shop: @product.shop%>
      <% end %>
    </div>
    <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
      <% if @product.shop.cover.attached? %>
        <%= image_tag @product.shop.cover, class: "w-full h-full object-cover brightness-50" %>
      <% else %>
        <%= image_tag 'shops/default_cover.png', class: 'w-full h-full object-cover' %>
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols m-10 md:grid-cols-4 gap-4">
    <div class="order-2 md:order-1 md:card col-span-2 bg-white-100 shadow-xl">
      <div class="md:card-body mx-10 mb-10">
        <%#= 手機顯示 %>
        <h4 class="text-2xl text-center my-2 md:hidden">
          <%= t('order.shop_location') %>
          <hr class="border-2">
        </h4>
        <ul class="text-lg font-medium mb-3">
          <li class="mb-4">
            <div class="aspect-w-16 aspect-h-9 w-full max-w-full mb-4">
              <%= render 'shared/google_map', shop: @product.shop %>
            </div>
          </li>
          <div class="p-2">
            <div class="mb-10">
              <ul>
                <%= render 'shared/shop_info',shop: @product.shop %>
              </ul>
            </div>
          </div>
          <div class="flex-row md:flex">
            <div class="collapse collapse-arrow border border-base-300 bg-slate-100 mb-3 md:hidden">
              <input type="checkbox"/> 
              <div class="collapse-title text-lg text-center text-gray-600 font-medium">
                <h4>店家簡介</h4>
              </div>
              <div class="collapse-content text-gray-700"> 
                <p class="p-2"><%=@shop.description %></p>
              </div>
            </div>
            <%=render 'shared/business_hours', class: 'mb-10' %>
          </div>
          <hr class="mt-6 mb-8">
        </ul>
      </div>
    </div>
    <%#= 桌機顯示 %>
    <div class="card hidden order-2 md:block col-span-2 bg-white-100 shadow-xl">
      <div class="relative md:mx-12">
        <figure class="p-8">
          <%= image_tag @product.cover.variant(:cover), class: "w-full" %>
        </figure>
        <div class="absolute bottom-0 left-0 w-full p-8">
          <div class="bg-white bg-opacity-75 p-4">
            <div class="card-title mx-12 text-2xl flex justify-between">
              <h2 class="ml-auto text-md">
                <%= @product.title %>
                <span class="badge badge-secondary">
                  <%= @product.service_min %>
                  <%= t('order.min') %>
                </span>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-12 px-8">
        <div class="text-lg text-gray-600">
          <div>
            <p class="px-8 border-l border-r"><%= @product.description %></p>
          <%= render 'booking', { shop: @shop, product: @product, service_times: @product.shop.service_times } %>
          </div>
        </div>
      </div>
    </div>
    <%#= 手機顯示 %>
    <div class="card mb-10 order-1 md:order-3 md:hidden col-span-2 bg-white-100 shadow-xl">
      <div class="relative md:mx-12">
        <figure class="mt-2 md:p-8">
          <%= image_tag @product.cover.variant(:cover), class: "w-full" %>
        </figure>
        <div class="absolute bottom-0 left-0 w-full bg-white bg-opacity-75 p-4">
          <div class="flex justify-end">
            <h2 class="card-title">
            <%= @product.title %>
            <div class="badge badge-secondary">
              <%= @product.service_min %>
              <%= t('order.min') %>
            </div>
            </h2>
          </div>
        </div>
      </div>
      <div class="p-4 text-sm text-gray-600">
        <p><%= @product.description %></p>
      </div>
    </div>
  </div>
</section>

<div class="fixed bottom-0 w-full md:hidden bg-emerald-600 opacity-100">
  <div class="relative">
    <div class="diagonal-bg"></div>
    <%= render 'booking_sm', { shop: @shop, product: @product, service_times: @product.shop.service_times } %>
  </div>
</div>
