<!DOCTYPE html>
<html data-theme="mytheme">
  <head>
    <title>RestTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="mb-16">
    <%= render "shared/navbar" %>
    </div>
    <%= render "shared/flash" if flash.any? %>
    <main class="container p-8 mx-auto">
      <%= yield %>
    </main>
    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>