<!DOCTYPE html>
<html data-theme="autumn">
  <head>
    <title>RestTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <div class="mb-24">
    <%= render "vendor/navbar" %>
    </div>
    </div>
    <%= render "shared/flash" if flash.any? %>
    </div>

  </head>

  <body>
    <main class="p-5">
      <div class="flex-1 m-3">
      <%= yield %>
      </div>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>