<!DOCTYPE html>
<html data-theme="autumn">
  <head>
    <title>RestTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= render "shared/navbar" %>
    <%= render "shared/flash" if flash.any? %>

  </head>

  <body>
    <main class="flex mt-20">
        <div class="w-60 m-3 mt-30">
          <%= render "vendor/sidebar" %>
        </div>
        <div class="flex-1 mt-30">
        <%= yield %>
        </div>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>